@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

/* Disable scrolling for page1 */
.disable-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
